h1 {
    padding: 1%;
    text-align: center;
    background-color: darkcyan;
    color: white;
}

#aside {
    display: inline-block;
    padding: 1rem;
}

#weather-today {
    display: inline-block;
    padding: 1rem;
}

#weather-icon {
    width: 3rem;
}

#weather-icon1 {
    width: 3rem;
}